# OS files
.DS_Store
Thumbs.db

# IDE/editor
.vscode/
.idea/

# Vite cache
.vite/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Dependencies
node_modules/

.env